.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.footer-logos {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-logos img {
  height: 30px;
}

.footer-text {
  flex: 1;
  font-size: 14px;
  padding-top: 5px;
  text-align: center;
}

.footer-version {
  font-size: 12px;
  color: #666;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
  }

  .footer-logos {
    order: 1;
  }

  .footer-text {
    order: 2;
    flex: none;
    padding-top: 0;
  }

  .footer-version {
    order: 3;
  }
}