.filter-btn {
   border-radius: 50%;
   background-color: var(--primary-second);
   opacity: 0.8;
   position: fixed;
   margin: 1rem 0.5rem;
   top: 50px;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   z-index: 1050;
   display: none; /* hidden by default */
   transition: opacity 0.3s ease; /* Optional smooth opacity transition */
 }
 
 /* When the button is visible */
 .filter-btn.show {
   display: block; /* Only show it when the 'show' class is added */
 }
 
 /* RTL */
 :dir(rtl) .filter-btn {
   left: 0.9rem;
 }
 
 /* LTR */
 :dir(ltr) .filter-btn {
   right: 0.9rem;
 }
 