.filterLable {
   font-weight: 700;
   padding-right: 0 !important;
   /* margin-right: 1rem;
   margin-left: 1rem; */
}

.filter-btn {
   border-radius: 50%;
   background-color: var(--primary-second);
   opacity: 0.8;
   position: fixed;
   bottom: 30px;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   z-index: 1050;
   margin: 1rem;
   display: none;
}

@media screen and (min-width: 500px) {
   .filter-btn {
      margin: 1rem;
      top: 70px;
   }
}

.filter-btn:hover {
   /* background-color: rgb(56, 170, 236); */
   opacity: 1;
}