.sidebar {
   padding: 0.2rem 0.4rem;
}

.filters {
   max-height: 590px;
   overflow-x: hidden;
   border-bottom: 2px solid rgb(189, 189, 189);
}

.sidebar ::-webkit-scrollbar {
   width: 7px;
}

.sidebar ::-webkit-scrollbar-track {
   background: #f1f1f1;
}

.sidebar ::-webkit-scrollbar-thumb {
   background: #888;
}

.sidebar ::-webkit-scrollbar-thumb:hover {
   background: #555;
}