.nav-tabs {
   border-bottom: solid black 2px;
   font-weight: 600;
}

.navbar-toggler {
   color: white;
}

button.navbar-toggler {
   border: 2px solid white;
}

.navbar {
   background-color: var(--primary-color);
   color: var(--onprimary-color)
}

#basic-navbar-nav>div>a, a.nav-link {
   font-weight: 600;
   color: var(--onprimary-color);
   opacity: 0.7;
}

#basic-navbar-nav>div>a:focus, #basic-navbar-nav>div>a:hover, a.nav-link:hover {
   font-weight: 600;
   color: rgb(255, 255, 255);
   opacity: 1;
}

@media screen and (max-width: 450px) {
   .nav-tabs .nav-item {
      font-size: 12px;
   }
   /* .navbar-collapse {} */
}

@media screen and (min-width: 980px) {
   .navbar-collapse {
      display: flex;
      justify-content: space-between;
   }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
   color: rgb(241, 24, 78);
   border: none;
   border-bottom: 1px solid black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
   /* color: red; */
   color: black;
   border: none;
   border-bottom: 1px solid black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
   color: rgb(241, 24, 78);
   border: none;
   border-bottom: 1px solid black;
}