.nav-tabs {
   border-bottom: solid black 1px;
   font-weight: 600;
}

.navbar-toggler {
   color: white;
}

.nav .nav-tabs {
   border-bottom: 1px solid black !important;
}
  
.nav-tabs .nav-link {
   padding: 4px 12px;
   line-height: 1;
}

button.navbar-toggler {
   border: 1px solid white;
}

.navbar {
   background-color: var(--primary-color);
   color: var(--onprimary-color);
   height: 3.125rem;
}

#basic-navbar-nav>div>a, a.nav-link {
   font-weight: 600;
   color: var(--onprimary-color);
   opacity: 0.7;
   margin: 2px 14px;
}

#basic-navbar-nav>div>a:focus, #basic-navbar-nav>div>a:hover, a.nav-link:hover {
   font-weight: 600;
   color: rgb(255, 255, 255);
   opacity: 1;
}

@media screen and (max-width: 450px) {
   .nav-tabs .nav-item {
      font-size: 12px;
   }
   /* .navbar-collapse {} */
}

.navbar-collapse {
   background-color: var(--primary-color);
}

@media screen and (min-width: 980px) {
   .navbar-collapse {
      display: flex;
      justify-content: space-between;
   }
}

/* Default state for nav links */
.nav-tabs .nav-link {
   color: black;
   border: none;
   border-bottom: 1px solid black;
}

/* Hover state */
.nav-tabs .nav-link:hover {
   font-weight: 700;
   color: black;
   border: none;
   border-bottom: 1px solid black;
}

/* Active state */
.nav-tabs .nav-link.active {
   color: rgb(241, 24, 78) !important;
   border: none;
   border-bottom: 1px solid black;
}

/* Active state when the item is shown */
.nav-tabs .nav-item.show .nav-link {
   color: rgb(241, 24, 78) !important;
   border: none;
   border-bottom: 1px solid black;
}