:root {
  --primary-color: #1976d2;
  --p-stonrg: #004ba0;
  --p-light: #63a4ff;
  --onprimary-color: white;
  --secondary-color: #00aacc;
  --primary-old: #4576c4;
  --image-gallery-description-visable: inherit;
}

.heb {
  direction: rtl;
}

.texthe {
  text-align: right;
}

.texten {
  text-align: left;
}

.languageSelector {
  padding: 3px;
}

.App-footer {
  background-color: var(--primary-color);
  color: var(--onprimary-color);
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2px 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.groupByTable {
  font-size: 12px;
}

.filterControls {
  font-size: 14px;
}

.table-header {
  background-color: var(--secondary-color);
}

.listDiv {
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.button {
  background-color: var(--primary-color);
  color: var(--onprimary-color);
  border: none;
  border-radius: 25px;
  padding: 15px 32px;
  margin: 10px 10px 10px 0px;
  /*margin-left: 10px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-sm {
  background-color: var(--primary-color);
  color: var(--onprimary-color);
  border: none;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  opacity: 0.8;
}

.button-sm:hover {
  opacity: 1;
  color: var(--onprimary-color);
}

.div-buttons>* {
  margin: 5px 5px;
}

.button:hover {
  background-color: var(--secondary-color)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.graphBy2Size {
  width: 800px
}

@media screen and (max-width: 480px) {
  .graphBy2Size {
    width: 470px;
  }
}

.image-gallery-slide img {
  width: 100%;
  height: 65vh;
}

.image-gallery-description {
  display: var(--image-gallery-description-visable);
}

/* NEW STYLE  */

/* NAVBAR  */

.navbar-toggler {
  color: white;
}

button.navbar-toggler {
  border: 2px solid white;
}

.navbar {
  background-color: var(--primary-color);
  color: var(--onprimary-color)
}

a.nav-link {
  font-weight: 600;
  color: var(--onprimary-color)
}

/* HOME PAGE  */

/* TBALES TAB GRID   */

/* CHARTS TAB GRID  */

/* FOOTER  */

footer {
  bottom: 0;
  left: 0;
  margin-top: 2rem;
}