body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}

.row, .col-md-4, .col-md-8 {
  margin-top: 1rem;
}

.filterLable {
  font-weight: 700;
  padding-right: 0 !important;
  margin-right: 1rem;
  margin-left: 1rem;
}

#pageDropDown {
  height: 2.2rem;
}

.form-select-sm {
  border-radius: 2px;
  width: 6rem;
}

.btn, .button-sm, .form-control, .modal-content {
  border-radius: 2px;
}

.filter-btn {
  border-radius: 50%;
  background-color: rgba(56, 170, 236, .7);
  height: 3rem;
  color: white;
  position: fixed;
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10000;
}

.filter-btn:hover {
  background-color: rgb(56, 170, 236);
}

.filterControls {
  margin-left: 1rem;
  margin-right: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-check-inline {
  width: 35%;
}

a {
  text-decoration: none;
}

button.btn.btn-link {
  text-decoration: none;
  color: black !important;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

#basic-navbar-nav>div>a {
  font-weight: 600;
  color: var(--onprimary-color);
  opacity: 0.7;
}

#basic-navbar-nav>div>a:focus {
  font-weight: 600;
  color: rgb(255, 255, 255);
  opacity: 1;
}

.loader-con {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* TABS  */

.nav-tabs {
  border-bottom: solid black 2px;
}

@media screen and (max-width: 450px) {
  .nav-tabs .nav-item {
    font-size: 12px;
  }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: rgb(241, 24, 78);
  border: none;
  border-bottom: 1px solid black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  /* color: red; */
  color: black;
  border: none;
  border-bottom: 1px solid black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
  color: rgb(241, 24, 78);
  border: none;
  border-bottom: 1px solid black;
}

/* IMAGES DESCRIPTION  */

#main-tabs-tabpane-image>div>div>div.image-gallery.image-gallery-using-mouse>div>div.image-gallery-slide-wrapper.bottom.image-gallery-rtl>div>div>div.image-gallery-slide.center>div>span {
  right: 0;
}

/* MODAL  */