name: Deploy
on:
    workflow_dispatch:

    push:
        branches:
            - main

jobs:
    Build-safety-data-client:
        if: github.repository == "${{ github.repository_owner }}/safety-data-client"
        runs-on: ubuntu-latest
        steps:
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push safety-data-client Docker image
              uses: docker/build-push-action@v6
              with:
                  file: Dockerfile.prod
                  push: true
                  tags: ghcr.io/${{ github.repository_owner }}/safety-data-client:latest
                  build-args: |
                      REACT_APP_API_URL=${{ secrets.REACT_APP_API_URL }}
                      VITE_API_URL=${{ secrets.VITE_API_URL }}
                      VITE_API_ANYWAY_URL=${{ secrets.VITE_API_ANYWAY_URL }}
